# Copy this file to .env and fill in your values
# cp .env.example .env

# MongoDB Atlas URIs
MONGO_URI_PRODUCTOS=mongodb+srv://<user>:<password>@<cluster>.mongodb.net/productos_db?retryWrites=true&w=majority
MONGO_URI_ORDENES=mongodb+srv://<user>:<password>@<cluster>.mongodb.net/ordenes_db?retryWrites=true&w=majority
MONGO_URI_PAGOS=mongodb+srv://<user>:<password>@<cluster>.mongodb.net/pagos_db?retryWrites=true&w=majority
